
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    
  h1 {
    text-align:left;
    margin-left: auto;
    font-size: 2rem;

  }

  header {
    margin-left: 10px;
    margin-right: 90px;
  }
  .content {
    padding: 5%;

  }

  .brand-logo {
    margin-left: 30px;

  }

.card-image {
 
  height: auto;
}

.card {
  /*width:300px;*/
}

 .contactUs {
    padding: 10%;
    margin: 5%;
    background-color: #fafafa;

  }

  .input-field {
    size: auto;
  }

 .subtitle {
  text-align:left;
    /*margin-left: auto;*/
    font-size: 2rem;

 }