
  
html {
  font-family: 'Raleway', sans-serif;
}

  
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}
  
h1 {
  text-align:left;
  margin-left: auto;
  font-size: 2rem;
}

header {
  margin-left: 10px;
  margin-right: 90px;
  font-weight: 300;
}

footer {
  background-color: #ff5c5c;

}

.carousel .carousel-item {
  visibility: visible;
  width: 50%;
  height: auto;

}

.content {
  padding: 5%;
}

.brand-logo {
  margin-left: 30px;
}

.card-image {
  height: auto;
}

.mobile-nav li a {
  color: #ef5350;
}


.logo-boccia {
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  height: 200px;
}

.card {
/*width:300px;*/
}


.contactUs {
  padding: 10%;
  margin: 5%;
  background-color: #fafafa;
}

.input-field {
  size: auto;
}

.subtitle {
  text-align:left;
  /*margin-left: auto;*/
  font-size: 2rem;
  color:  #ef5350;
}

nav .brand-logo {
  font-size: 1.6rem;   
  width: fit-content;
  /*margin-left: 0px;*/
}
 
 .parallax-conatiner {
  padding: 0px;

 }
 
.parallax-container .parallax img {
    position: absolute;
      opacity: 1;

    left: 50%;
    bottom: 0;
    min-width: 100%;
}

@media only screen and (max-width: 993px) {
  .logo-boccia {
    height: 90px;
  }
 
}
@media only screen and (min-width: 993px) {
  .carousel {
    height: 1000px;
  }

  .carousel .carousel-item {
    width: 400px !important;

  }

}